#card {
    width: 35%;
}

@media (max-width: 1200px) {
    #card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #card {
        width: 75%;
    }
}

@media (max-width: 576px) {
    #card {
        width: 100%;
        min-width: unset;
    }
}

.limited-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .p-fileupload-file-badge {
    display: none !important;
}

::ng-deep .p-progressbar {
    display: none !important;
}

::ng-deep .p-fileupload-file-actions {
    display: none !important;
}