<div class="row me-0 justify-content-between align-items-center">
    <div class="col-auto">
        <p-button link (onClick)="goBack()">
            <i class="pi pi-angle-left" pButtonIcon></i>
            <span pButtonLabel>Volver atrás</span>
        </p-button>
    </div>
    <div class="col-auto">
        <app-theme-switcher />
    </div>
</div>
<div id="screenWidth" class="col position-absolute top-50 start-50 translate-middle">
    <div class="container-fluid align-items-center justify-content-center">
        <div id="card" class="col-lg-auto m-auto">
            <p-card class="shadow-lg px-4 flex" fluid>
                <div class="text-center mb-4 mt-4">
                    <h1 class="fw-bold m-0">Recuperar contraseña</h1>
                    <p class="text-sm m-0 mt-1">Recupera tu contraseña con el mail de tu usuario</p>
                </div>
                <div class="justify-content-center align-items-center">
                    <p-stepper [value]="step" [linear]="true">
                        <p-step-list>
                            <p-step [value]="1"></p-step>
                            <p-step [value]="2"></p-step>
                            <p-step [value]="3"></p-step>
                        </p-step-list>
                        <p-step-panels>
                            <p-step-panel [value]="1">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="d-flex flex-column">
                                        <div class="mb-4">
                                            <p class="text-sm m-0">Ingresa tu correo para enviar el código de
                                                recuperación.</p>
                                        </div>
                                        <form class="me-2 mb-0 mt-2" [formGroup]="recoveryPasswordForm">
                                            <div class="mb-4">
                                                <label class="form-label" for="correo">Correo electrónico</label>
                                                <input class="w-100 mt-1" id="correo" pInputText
                                                    placeholder="tu-correo@ejemplo.com" type="email"
                                                    formControlName="email" />
                                                @if (!vaildEmail && !recoveryPasswordForm.get('email')?.dirty) {
                                                <p-message severity="error" size="small" variant="simple">
                                                    Usuario inexistente con el correo ingresado.
                                                </p-message>
                                                }
                                                @if(recoveryPasswordForm.get('email')?.invalid &&
                                                recoveryPasswordForm.get('email')?.dirty){
                                                <p-message severity="error" size="small" variant="simple">
                                                    Ingrese un correo válido.
                                                </p-message>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                    <div class="d-flex pt-6 justify-content-end">
                                        <p-button styleClass="w-100" [disabled]="loading"
                                            (onClick)="sendRecoveryCode()">
                                            Enviar código de recuperación @if(loading){<i
                                                class="pi pi-spin pi-spinner"></i>}
                                        </p-button>
                                    </div>
                                </ng-template>
                            </p-step-panel>
                            <p-step-panel [value]="2">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="d-flex flex-column">
                                        <div class="mb-4">
                                            <p class="text-sm m-0">Ingresa el código de verificación enviado a tu
                                                casilla de correo.</p>
                                        </div>
                                        <form class="me-2 mb-0 mt-2" [formGroup]="recoveryPasswordForm">
                                            <div class="mb-4">
                                                <label class="form-label" for="codigo">Código</label>
                                                <p-inputmask name="codigo" styleClass="mt-1" mask="**********"
                                                    formControlName="codigo" fluid />
                                                @if (invalidCode && !recoveryPasswordForm.get('codigo')?.dirty) {
                                                <p-message severity="error" size="small" variant="simple">
                                                    El código ingresado es incorrecto.
                                                </p-message>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                    <div class="d-flex pt-6 justify-content-between">
                                        <p-button label="" severity="secondary" icon="pi pi-arrow-left"
                                            (onClick)="activateCallback(1); step = 1"/>
                                        <p-button styleClass="w-100" [disabled]="loading"
                                            (onClick)="verifyCode()">
                                            Validar código @if(loading){<i
                                                class="pi pi-spin pi-spinner"></i>}
                                        </p-button>
                                    </div>
                                </ng-template>
                            </p-step-panel>
                            <p-step-panel [value]="3">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="d-flex flex-column">
                                        <div class="mb-4">
                                            <p class="text-sm m-0">Ingresa tu nueva contraseña.</p>
                                        </div>
                                        <form class="me-2 mb-0 mt-2" [formGroup]="recoveryPasswordForm">
                                            <div class="mb-4">
                                                <label class="form-label" for="contrasena">Contraseña</label>
                                                <p-password class="mt-1" id="contrasena" formControlName="contrasena"
                                                    placeholder="Crea una contraseña" weakLabel="Muy simple"
                                                    mediumLabel="Medianamente segura" strongLabel="Compleja"
                                                    promptLabel="Ingrese una contraseña" [feedback]="true"
                                                    [toggleMask]="true" fluid appendTo="body" [invalid]="
                                                        recoveryPasswordForm.get('contrasena')?.invalid &&
                                                        recoveryPasswordForm.get('contrasena')?.touched &&
                                                        recoveryPasswordForm.get('contrasena')?.dirty">
                                                    <ng-template #footer>
                                                        <p-divider />
                                                        <ul class="ms-2 p-0 leading-normal" style="list-style: none">
                                                            <li class="flex items-center">
                                                                @if(recoveryPasswordForm.get('contrasena')?.getError('minlength')
                                                                ||
                                                                recoveryPasswordForm.get('contrasena')?.getError('required')){
                                                                <i class="pi pi-times-circle me-1"
                                                                    style="color: red"></i>
                                                                }@else{
                                                                <i class="pi pi-check-circle me-1"
                                                                    style="color: green"></i>
                                                                } Mínimo 8 caracteres
                                                            </li>
                                                            <li class="flex items-center">
                                                                @if(recoveryPasswordForm.get('contrasena')?.getError('missingSpecialChar')
                                                                ||
                                                                recoveryPasswordForm.get('contrasena')?.getError('required')){
                                                                <i class="pi pi-times-circle me-1"
                                                                    style="color: red"></i>
                                                                }@else{
                                                                <i class="pi pi-check-circle me-1"
                                                                    style="color: green"></i>
                                                                } Símbolos (ej. !@#$)
                                                            </li>
                                                            <li class="flex items-center">
                                                                @if(recoveryPasswordForm.get('contrasena')?.getError('missingUpperCase')
                                                                ||
                                                                recoveryPasswordForm.get('contrasena')?.getError('required')){
                                                                <i class="pi pi-times-circle me-1"
                                                                    style="color: red"></i>
                                                                }@else{
                                                                <i class="pi pi-check-circle me-1"
                                                                    style="color: green"></i>
                                                                } Al menos una mayúscula
                                                            </li>
                                                            <li class="flex items-center">
                                                                @if(recoveryPasswordForm.get('contrasena')?.getError('missingNumber')
                                                                ||
                                                                recoveryPasswordForm.get('contrasena')?.getError('required')){
                                                                <i class="pi pi-times-circle me-1"
                                                                    style="color: red"></i>
                                                                }@else{
                                                                <i class="pi pi-check-circle me-1"
                                                                    style="color: green"></i>
                                                                } Números
                                                            </li>
                                                        </ul>
                                                    </ng-template>
                                                </p-password>
                                                @if (recoveryPasswordForm.get('contrasena')?.invalid &&
                                                recoveryPasswordForm.get('contrasena')?.touched &&
                                                recoveryPasswordForm.get('contrasena')?.dirty) {
                                                <p-message severity="error" size="small" variant="simple">Ingrese una
                                                    contraseña válida.</p-message>
                                                }
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label" for="confirm-password">Confirmar
                                                    contraseña</label>
                                                <p-password class="mt-1" id="confirm-password"
                                                    formControlName="confirmPassword"
                                                    placeholder="Confirma tu contraseña" [feedback]="false"
                                                    [toggleMask]="true" fluid [invalid]="
                                                        recoveryPasswordForm.get('confirmPassword')?.invalid &&
                                                        recoveryPasswordForm.get('contrasena')?.valid &&
                                                        recoveryPasswordForm.get('confirmPassword')?.touched &&
                                                        recoveryPasswordForm.get('confirmPassword')?.dirty
                                                    "
                                                    [disabled]="recoveryPasswordForm.get('contrasena')?.invalid ?? true" />
                                                @if (recoveryPasswordForm.get('confirmPassword')?.invalid &&
                                                recoveryPasswordForm.get('contrasena')?.valid &&
                                                recoveryPasswordForm.get('confirmPassword')?.touched &&
                                                recoveryPasswordForm.get('confirmPassword')?.dirty) {
                                                <p-message severity="error" size="small" variant="simple">Las
                                                    contraseñas no coinciden.</p-message>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                    <div class="d-flex pt-6 justify-content-between">
                                        <p-button label="" severity="secondary" icon="pi pi-arrow-left" iconPos="right"
                                            (onClick)="activateCallback(2); step = 2" />
                                        <p-button styleClass="w-100" [disabled]="loading"
                                            (onClick)="changePassword()">
                                            Cambiar contraseña @if(loading){<i
                                                class="pi pi-spin pi-spinner"></i>}
                                        </p-button>                                        
                                    </div>
                                </ng-template>
                            </p-step-panel>
                        </p-step-panels>
                    </p-stepper>
                </div>
            </p-card>
        </div>
    </div>
</div>