<div class="main-container container-fluid">
  <div class="row" style="height: 100%">
    <div class="col d-flex flex-column p-0 ps-2 h-100">
      <div class="row align-items-center p-1 chat-header w-100 flex-shrink-0">
        <div class="col-auto justify-content-center d-flex">
          <i class="pi pi-chevron-left go-back-buttom"></i>
        </div>
        <div class="col-auto">
          @if(userChat?.urlImagen){
          <p-avatar size="large" shape="circle" [image]="userChat?.urlImagen" />
          }@else {
          <p-avatar size="large" shape="circle" icon="pi pi-gift" />
          }
        </div>
        <div class="col-auto d-block">
          <div>
            <span class="fw-medium fs-4">
              {{ userChat?.alias }}
            </span>
          </div>
          <span class="fw-medium text-secondary fs-6">
            {{ userChat?.nombreApellido }}
          </span>
        </div>
      </div>
      <div class="row w-100 h-100">
        <div class="col d-flex flex-column p-0 h-100 w-100">
          <div class="row w-100 flex-grow-1 overflow-auto" style="height: 80%; max-height: 80%">
            @for (message of messages; track $index) {
            <div [ngClass]="[message.usuario.id == logedUser.id ? 'text-end' : 'text-start']"
            [class.mt-2]="$index != 0">
              <p>{{ message.mensaje }}</p>
              <span>{{ message.fechaMensaje | date : 'HH:mm:ss' }}</span>
            </div>
            }
          </div>
          <div class="row w-100" style="height: 20%">
            <div class="col">
              <textarea
                placeholder="Escribe un mensaje..."
                pTextarea
                fluid
                [(ngModel)]="message"
                (keydown.enter)="sendMessage()"
                style="min-height: 100%; max-height: 100%; resize: none"
              ></textarea>
            </div>
            <div class="col-auto">
              <p-button
                icon="pi pi-angle-double-up"
                variant="outlined"
                raised="true"
                [rounded]="true"
                (click)="sendMessage()"
                [disabled]="!message.trim()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
