<!-- <div class="messages-container">
  <h3>📨 Mensajes ({{ messages.length }})</h3>

  <div *ngIf="messages.length === 0">
    <p>No hay mensajes aún. ¡Envía el primero!</p>
  </div>

  <div *ngFor="let msg of messages; let i = index" class="message">
    <div [ngClass]="[msg.usuario.id == logedUser.id ? 'text-end' : 'text-start']">
      <div class="message-content">{{ msg.mensaje }}</div>
      <div class="message-header">        
        <span class="timestamp">{{ msg.timestamp | date : 'HH:mm:ss' }}</span>
      </div>
    </div>
  </div>
</div>

<div class="message-input">
  <input
    type="text"
    [(ngModel)]="message"
    (keyup.enter)="sendMessage()"
    placeholder="Escribe tu mensaje..."
    class="form-input message-field"
  />
  <button (click)="sendMessage()" class="btn btn-send" [disabled]="!message.trim()">
    📤 Enviar
  </button>
</div> -->
<div class="main-container container-fluid">
  <div class="col-auto justify-content-center align-content-center h-100">
    <div class="d-flex row mb-2">
      <div class="row align-items-center p-1 chat-header">
        <div class="col-auto justify-content-center d-flex">
          <i class="pi pi-chevron-left go-back-buttom"></i>
        </div>
        <div class="col-auto">
          @if(userChat?.urlImagen){
          <p-avatar size="large" shape="circle" [image]="userChat?.urlImagen" />
          }@else {
          <p-avatar size="large" shape="circle" icon="pi pi-gift" />
          }
        </div>
        <div class="col-auto d-block">
          <div>
            <span class="fw-medium fs-4">
              {{ userChat?.alias }}
            </span>
          </div>
          <span class="fw-medium text-secondary fs-6">
            {{ userChat?.nombreApellido }}
          </span>
        </div>
      </div>
    </div>
    <div class="row w-100 h-100">
      <div></div>
      <div></div>
    </div>
  </div>
</div>
