@media (max-width: 767px) {
    .main-container {
        padding-top: 0 !important;
    }
    .product-display-info {
        display: none !important;
    }
    .user-display-info {
        max-width: 15vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.go-back-buttom {
    cursor: pointer;
}

.main-container .row {
  margin-right: 0;
  margin-left: 0;
}

.message-container{
    border-radius: var(--p-content-border-radius);
    background-color: var(--p-content-background);
    width: max-content;
    max-width: 65%;
}

p {
    white-space: normal;
    word-wrap: break-word;
    margin: 0;
}

.chat-header {
    border-radius: var(--p-content-border-radius);
    background-color: var(--p-content-background);
}