@media (max-width: 575px) {
    .main-container {
        padding-top: 2vh !important;
    }
    .product-content{
        width: 100% !important;
    }
}

.product-content{
    background: var(--p-card-background);
    box-shadow: var(--p-card-shadow);
    border-radius: var(--p-card-border-radius);
}

#card{
    background-color: var(--p-background-color);
}

.image {
    max-height: 45vh;
    height: 45vh;
    width: 40vh;
    object-fit: cover;
    padding: 0;
    border-radius: var(--p-card-border-radius);
}

.description{
    height: 15vh;
    max-height: 15vh;
    overflow: auto;
}

.title{
    max-width: max-content;
}

.main-card{
    max-width: max-content;
}

.tag{
    max-width: max-content;
    max-height: fit-content;
}

.go-back-buttom {
    cursor: pointer;
}

.main-container {
    padding: 4vh 4vw;
    height: max-content;
}