@keyframes rotateFow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-fow {
  animation: rotateFow 1s ease-in-out;
}

.rotate-back {
  animation: rotateBack 1s ease-in-out;  
}

#logo{
    fill: var(--p-primary-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.toolbar-center {
    width: 45vw;
}

.toolbar-end{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 55px);
    background-color: var(--p-content-background);
}

.sidebar {
    width: 10vw;
    min-width: 40px;
    height: 100%;
    display: flex;
    transition: all 0.3s ease;
    background: var(--p-content-background);
    color: var(--p-content-color);
    overflow-y: auto;
    flex-shrink: 0;
}

.sidebar.collapsed {
    width: 40px;
    color: transparent;
}

.sidebar-text {
    transition:
        opacity 0.3s ease,
        width 0.3s ease,
        margin 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar.collapsed .sidebar-text {
    opacity: 0;
    width: 0;
    margin-left: 0;
}

.sidebar.collapsed a {
    overflow: hidden;
    transition: opacity 0.2s ease;
}

.sidebar a {
    display: flex;
}

.sidebar:not(.collapsed) .sidebar-text {
    opacity: 1;
    width: auto;
    overflow: visible;
    transition:
        opacity 0.3s ease 0.1s,
        width 0.3s ease 0.1s;
}

.components-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

.sidebar-button {
    cursor: pointer;
}

.sidebar.fully-collapsed .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar:not(.fully-collapsed) .sidebar-button {
    padding-left: 0.5rem;
}

.components-content {
    border-left: 1px solid var(--p-content-border-color);
    border-top: 1px solid var(--p-content-border-color);
    border-top-left-radius: 0.5rem;
    background-color: var(--p-form-field-background);
}

::ng-deep .p-panelmenu-panel {
    border-color: var(--p-content-background);
}

::ng-deep p-toolbar {
    border-radius: 0;
    border-color: var(--p-content-background);
}

@media (max-width: 576px) {
    .components-content {
        border-left: 0px solid var(--p-content-border-color);
        border-top: 1px solid var(--p-content-border-color);
        border-top-left-radius: 0;
        background-color: var(--p-form-field-background);
    }
}