/*#region Animaciones de rotación y logo*/
@keyframes rotateFow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotateBack {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-fow {
    animation: rotateFow 1s ease-in-out;
}

.rotate-back {
    animation: rotateBack 1s ease-in-out;
}

#logo {
    fill: var(--p-primary-color);
}

.home-button{
    cursor: pointer;
}
/* #endregion */

/*#region Toolbar*/
.toolbar-center {
    width: 45vw;
}

.toolbar-end {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.header-toolbar,
.toolbar-end {
  overflow: visible !important;
}

.notification-content{
    max-height: 25vh;
    overflow: auto;
}
/*#endregion*/

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 55px);
    background-color: var(--p-content-background);
}

.avatar{
    cursor: pointer;
}

.components-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}


/*#region Sidebar desplegado*/
.sidebar {
    width: max-content;
    padding: 1rem;
    min-width: min-content;
    height: 100%;
    display: flex;
    justify-items: center;
    transition: width 0.3s ease;
    background: var(--p-content-background);
    color: var(--p-content-color);
    flex-shrink: 0;
}

.sidebar-button{
    display: flex;
}

.sidebar-text {
    transition:
        opacity 0.3s ease,
        width 0.3s ease,
        margin 0.3s ease,
        display 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar:not(.collapsed) .sidebar-text {
    opacity: 1;
    padding-right: 6rem;
    overflow: hidden;
    transition:
        opacity 0.3s ease 0.1s,
        width 0.3s ease 0.1s;
}
/*#endregion*/

/*#region Sidebar colapsada*/
.sidebar.collapsed {
    width: max-content;
    padding: 1rem 0;
    min-width: 40px;
    color: transparent;
    transition: width 0.3s ease;
}

.sidebar.collapsed .p-button {
    transition: opacity 0.2s ease;
}
/*#endregion*/

/*#region No tocar*/
.components-content {
    border-left: 1px solid var(--p-content-border-color);
    border-top: 1px solid var(--p-content-border-color);
    border-top-left-radius: 0.5rem;
    background-color: var(--p-form-field-background);
}

::ng-deep .p-panelmenu-panel {
    border-color: var(--p-content-background);
}

::ng-deep .sidebar p-tieredmenu{
    display: flex;
    width: min-content;
}

::ng-deep .sidebar p-tieredmenusub{
    display: flex;
}

::ng-deep .sidebar .p-tieredmenu {
    border-color: var(--p-content-background);
    min-width: max-content;
}

::ng-deep .sidebar .ng-trigger{
    display: flex;
}

::ng-deep .header-toolbar .ng-trigger{
    display: flex;
}

::ng-deep .header-toolbar .p-menu-start{
    padding: .75rem;
}

::ng-deep .sidebar .p-tieredmenu-root-list{
    gap: 1rem;
    max-width: max-content;
}

::ng-deep p-toolbar.header-toolbar {
    border-radius: 0;
    border-color: var(--p-content-background);
}

::ng-deep .sidebar-button p-button{
    width: 100%;
    padding-right: 0;
}

::ng-deep .sidebar:not(.collapsed) .sidebar-button p-button{
    width: 12vw;
    min-width: max-content;
}

::ng-deep .header-toolbar .p-menu-overlay{
    display: block;
    justify-content: center;
    min-width: max-content;
}

::ng-deep .header-toolbar .p-ripple.p-button {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    color: var(--p-text-color);
}

::ng-deep .sidebar .p-ripple.p-button {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    color: var(--p-text-color);
}

::ng-deep .p-drawer-footer .p-ripple.p-button {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    color: var(--p-text-color);
}

::ng-deep .p-popover {
  position: fixed !important;
  z-index: 2000 !important;
}

@media (max-width: 575px) {
    .components-content {
        border-left: 0px solid var(--p-content-border-color);
        border-top: 1px solid var(--p-content-border-color);
        border-top-left-radius: 0;
        background-color: var(--p-form-field-background);
    }
    .toolbar-end{
        display: none !important;
    }
}

/* #endregion */