@media (max-width: 1200px) {
    #screenWidth {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #screenWidth {
        width: 75%;
    }
}

@media (max-width: 576px) {
    #screenWidth {
        width: 100%;
        min-width: unset;
    }
}

#card {
    width: 100%;
    max-height: 90vh;
}

.scroll-max{
    max-height: 90vh;
    border: 0px;
}

.form-scroll-wrapper {
  max-height: 30vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.form-scroll-wrapper::-webkit-scrollbar {
  width: 4px;
}

.form-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-scroll-wrapper::-webkit-scrollbar-track {
  background: transparent;
}