<!-- profile-edit.component.html -->
<div class="main-container container-fluid">
  <div class="col-auto justify-content-center align-content-center h-100">
    <h1 class="my-2">Editar Perfil</h1>
    <p-card>
      <div class="p-fluid" [formGroup]="editUserForm">
        <div class="row mb-4">
          <div class="col-auto image-container text-center">
            <!-- Imagen actual -->
            @if(userImage){
            <img
              [src]="userImage"
              alt="Imagen de Perfil"
              class="p-shadow-3 profile-img"
              height="150"
              width="150"
            />
            }@else {
              <i class="pi pi-user" style="font-size: 5rem"></i>
            }
            <label for="fileInput" class="upload-btn">
              <i class="pi pi-pencil p-2" style="font-size: 2rem"></i>
            </label>
            <input
              id="fileInput"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              hidden
            />
          </div>
          <div
            class="col-auto justify-content-center align-content-center align-items-center text-start"
          >
            <h2 class="m-0">{{ this.editUserForm.get('nombreApellido')?.value ?? '' }}</h2>
            <h4 class="m-0 text-secondary">{{ this.editUserForm.get('alias')?.value ?? '' }}</h4>
            <h4 class="m-0 text-secondary">{{ this.originalData.correo ?? '' }}</h4>
          </div>
        </div>
        <!-- Campos de Información Personal -->
        <div class="row w-100">
          <div class="col-12 col-sm-12 col-md-6 mb-4">
            <label for="fullName">{{
              isOrganization ? 'Nombre de la organización' : 'Nombre y apellido'
            }}</label>
            <input
              class="w-100"
              id="fullName"
              type="text"
              pInputText
              formControlName="nombreApellido"
              placeholder="Ingresa tu nombre y apellido"
              fluid
            />
            @if (editUserForm.get('nombreApellido')?.invalid &&
            editUserForm.get('nombreApellido')?.touched &&
            editUserForm.get('nombreApellido')?.dirty) {
            <div class="row mt-1">
              <p-message severity="error" size="small" variant="simple">
                Ingrese un nombre válido.
              </p-message>
            </div>
            }
          </div>
          <div class="col-12 col-sm-12 col-md-6 mb-4">
            <label for="alias">Alias</label>
            <input
              class="w-100"
              id="alias"
              type="text"
              pInputText
              formControlName="alias"
              placeholder="Ingresa tu alias"
              fluid
            />
            @if (editUserForm.get('alias')?.invalid && editUserForm.get('alias')?.touched &&
            editUserForm.get('alias')?.dirty) {
            <div class="row mt-1">
              <p-message severity="error" size="small" variant="simple">
                Ingrese un alias válido.
              </p-message>
            </div>
            }
          </div>
        </div>
        <div class="row w-100">
          <div class="col-12 col-sm-12 col-md-6 mb-4">
            <label for="birthDate">{{
              isOrganization ? 'Fecha de fundación' : 'Fecha de Nacimiento'
            }}</label>
            <p-date-picker
              class="mt-1"
              id="birthDate"
              formControlName="fechaNacimiento"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              inputId="icon"
              fluid
            ></p-date-picker>
          </div>
          <!-- <div class="col-12 col-sm-12 col-md-6 mb-4 password-form">
            <label for="password">Contraseña</label>
            <p-inputgroup>
              <p-password
                class="mt-1"
                id="contrasena"
                formControlName="contrasena"
                placeholder="Crea una contraseña"
                weakLabel="Muy simple"
                mediumLabel="Medianamente segura"
                strongLabel="Compleja"
                promptLabel="Ingrese una contraseña"
                [feedback]="true"
                [disabled]="!editPassword"
                [toggleMask]="true"
                [invalid]=" originalData.contrasena != null && (
                  editUserForm.get('contrasena')?.invalid &&
                  editUserForm.get('contrasena')?.touched &&
                  editUserForm.get('contrasena')?.dirty)
                "
                fluid
              >
                <ng-template #footer>
                  <p-divider />
                  <ul class="ms-2 p-0 leading-normal" style="list-style: none">
                    <li class="d-block items-center">
                      @if(editUserForm.get('contrasena')?.getError('minlength') ||
                      editUserForm.get('contrasena')?.getError('required')){
                      <i class="pi pi-times-circle me-1" style="color: red"></i>
                      }@else{
                      <i class="pi pi-check-circle me-1" style="color: green"></i>
                      } Mínimo 8 caracteres
                    </li>
                    <li class="d-flex items-center">
                      @if(editUserForm.get('contrasena')?.getError('missingSpecialChar') ||
                      editUserForm.get('contrasena')?.getError('required')){
                      <i class="pi pi-times-circle me-1" style="color: red"></i>
                      }@else{
                      <i class="pi pi-check-circle me-1" style="color: green"></i>
                      } Símbolos (ej. !@#$)
                    </li>
                    <li class="d-flex items-center">
                      @if(editUserForm.get('contrasena')?.getError('missingUpperCase') ||
                      editUserForm.get('contrasena')?.getError('required')){
                      <i class="pi pi-times-circle me-1" style="color: red"></i>
                      }@else{
                      <i class="pi pi-check-circle me-1" style="color: green"></i>
                      } Al menos una mayúscula
                    </li>
                    <li class="d-flex items-center">
                      @if(editUserForm.get('contrasena')?.getError('missingNumber') ||
                      editUserForm.get('contrasena')?.getError('required')){
                      <i class="pi pi-times-circle me-1" style="color: red"></i>
                      }@else{
                      <i class="pi pi-check-circle me-1" style="color: green"></i>
                      } Números
                    </li>
                  </ul>
                </ng-template>
              </p-password>
              <p-button [label]="editPassword? 'Ok' : 'Cambiar'" (onClick)="editPassword = !editPassword" />
            </p-inputgroup>
          </div> -->
          @if(!isOrganization){
          <div class="col-12 col-sm-12 col-md-6 mb-4">
            <label for="roles">Selecciona los roles que desea tener</label>
            <div class="text-center">
              <p-selectbutton
                class="mt-1"
                fluid
                id="roles"
                formControlName="roles"
                [options]="userRolesOptions"
                [multiple]="true"
                optionLabel="label"
                optionValue="value"
              />
              @if(editUserForm.get('roles')?.invalid && editUserForm.get('roles')?.dirty){
              <div class="row mt-1">
                <p-message severity="error" size="small" variant="simple"
                  >Seleccione al menos un rol.
                </p-message>
              </div>
              }
            </div>
          </div>
          }
        </div>
        <!-- @if(!isOrganization){
        <div class="row w-100">
          <div class="col-12 col-sm-12 col-md-6 mb-4">
            <label for="roles">Selecciona los roles que desea tener</label>
            <div class="text-center">
              <p-selectbutton
                class="mt-1"
                fluid
                id="roles"
                formControlName="roles"
                [options]="userRolesOptions"
                [multiple]="true"
                optionLabel="label"
                optionValue="value"
              />
              @if(editUserForm.get('roles')?.invalid && editUserForm.get('roles')?.dirty){
              <p-message severity="error" size="small" variant="simple"
                >Seleccione al menos un rol.</p-message
              >
              }
            </div>
          </div>
        </div>
        } -->
        <div class="row w-100 justify-content-end">
          <div class="col-auto mt-4">
            <p-button
              class="me-4"
              label="Cancelar"
              severity="secondary"
              (onClick)="cancel()"
              [disabled]="editUserForm.pristine && !changedImage"
            />
            <p-button
              label="Guardar"
              (onClick)="onSubmit()"
              [disabled]="(editUserForm.pristine && !changedImage) || editUserForm.invalid"
            />
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
