@media (max-width: 412px) {
  .profile-data {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .main-container {
    padding-top: 2vh !important;
  }
}

.go-back-buttom {
  cursor: pointer;
}

.main-container {
  padding: 4vh 4vw;
  height: max-content;
}

.image-container {
  position: relative;
  display: inline-block;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.upload-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: none !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.image-container:hover .upload-btn {
  display: flex !important
}

::ng-deep .password-form p-inputgroup {
  align-items: baseline;
}

::ng-deep .password-form .p-button {
  height: max-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}