@media (max-width: 575px) {
    .main-container {
        padding-top: 2vh !important;
    }
    .product-content{
        width: 100% !important;
    }
}

.product-content{
    background: var(--p-content-background);
    box-shadow: 0 2px 6px rgba(0, 25, 15, 0.1);
    border-radius: var(--p-border-radius-xl);
}

#card{
    background-color: var(--p-content-background);
}

.image {
    max-height: 45vh;
    height: 45vh;
    width: 40vh;
    object-fit: cover;
    padding: 0;
    border-radius: var(--p-border-radius-xl);
}

.description{
    height: 15vh;
    max-height: 15vh;
    overflow: auto;
}

.title{
    max-width: max-content;
}

.main-card{
    max-width: max-content;
}

.tag{
    max-width: max-content;
    max-height: fit-content;
}

.go-back-buttom {
    cursor: pointer;
}

.main-container {
    padding: 4vh 4vw;
    height: max-content;
}

::ng-deep .donor-buttons p-inputgroup{
    align-items: baseline;
}

::ng-deep .donor-buttons .p-button{
    height: max-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}