<div class="main-container container-fluid">
  <div class="col-auto justify-content-center align-content-center h-100">
    <h1 class="d-flex my-2 align-items-center mb-4">
      <i class="pi pi-chevron-left me-3 go-back-buttom" (click)="goHome()"></i> Publicar producto
    </h1>
    <p-card>
      <div class="p-fluid p-4" [formGroup]="productForm">
        <div class="row w-100">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
            <label for="inputImage">Imagen del producto<span style="color: red;">&ensp;*</span></label>
            <p-fileupload name="inputImage" [multiple]="false" accept=".jpg,.png,.jpeg" maxFileSize="1000000" styleClass="mt-2"
              (onSelect)="setImage($event)">
              <ng-template #header let-chooseCallback="chooseCallback">
              </ng-template>
              <ng-template #content let-files>
                @for (file of files; track $index) {
                <div class="flex items-center justify-center flex-col">
                  <img role="presentation" [alt]="file.name" [src]="file.objectURL"/>
                </div>
                }
              </ng-template>
              <ng-template #empty>
                <div class="justify-content-center align-items-center empty-content no-image">
                  <i class="pi pi-file-arrow-up" style="font-size: 2.5rem;"></i>
                  <p class="mt-6 mb-0">Carga una imagen</p>
                </div>
              </ng-template>
            </p-fileupload>
            @if(!imagen){
            <p-button styleClass="mt-2" label="Elegir" icon="pi pi-upload" (onClick)="choose()" />
            }@else {
            <p-button styleClass="mt-2" label="Quitar" icon="pi pi-times" severity="danger" (onClick)="clearImage()" />
            }
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-4 mt-lg-0">
            <div class="row-gap-0">
              <label for="title">Título del producto<span style="color: red;">&ensp;*</span></label>
              <input name="title" placeholder="Ej: Remera de algodón" class="mt-2" pInputText type="text" fluid
                formControlName="nombre" />
            </div>
            <div class="mt-4 row-gap-0">
              <label for="description">Descripción<span style="color: red;">&ensp;*</span><span>&ensp;({{productForm.get('descripcion')?.value.length ?? 0}}/255)</span></label>
              <textarea name="description" placeholder="Describe el producto detalladamente..." class="mt-2"
                formControlName="descripcion" rows="5" cols="30" pTextarea fluid></textarea>
            </div>
            <div class="mt-4 row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <label for="category">Categoría<span style="color: red;">&ensp;*</span></label>
                <p-select name="category" class="mt-2" formControlName="categoria" [loading]="!categories" optionLabel="nombre"
                  [options]="categories" [placeholder]="categories? 'Seleccione una categoría' : ''" fluid
                  [showClear]="true" fluid/>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-4 mt-md-0 mt-lg-0">
                <div class="row-gap-0">
                  <label class="p-0" for="title">Estado</label>
                </div>
                <div class="d-flex row-gap-0 mt-2 py-2 align-content-center">
                  <p-tag class="w-100" name icon="pi pi-check" severity="success" value="Disponible" fluid/>
                </div>                              
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 justify-content-end">
          <div class="col-auto mt-4">
            <p-button class="me-4" label="Cancelar" severity="secondary" (onClick)="cancel()" [disabled]="(productForm.pristine && !imagen) || setUploading"/>
            <p-button (onClick)="onSubmit()" [disabled]="(productForm.invalid || !imagen) || setUploading">
              Publicar@if(setUploading){<i class="pi pi-spin pi-spinner"></i>}
            </p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>